*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.pai{
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cube_animation{
    0%{background-color: yellow;width: 20%; height: 20%;}

    20%{background-color: blue;width: 2%; height: 20%;}

    40%{background-color: red;width: 2%; height: 2%;}

    80%{background-color: green;width: 20%; height: 2%;}

    100%{background-color: yellow;width: 20%; height: 20%;}
}

.item1{
     
    background-color: yellow;
    width: 20%;
    height: 20%;

    animation-name: cube_animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    

    transition-property: background-color ;
    

}




/* 20 20,  2 20, 2 2, 20 2, 20 20*/